.fader {
  /* border: 10px solid green; */
  width: fit-content;
  position: relative;
}

.fader-node-list {
  /* border: 6px solid; */
  width: 100vw;
  height: 60vh;
  display: flex;
  /* overflow: hidden; */
}

.fader-node {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 100px;
  animation: fade ease 1s forwards;
  opacity: 0;
}
.fader-node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fader-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.fader-btn:last-child {
  right: 0;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}
